/* General style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background:  url(./img/illiya-vjestica-W5FdAcHp7l8-unsplash.jpg) no-repeat center center/ cover;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.button {
    background-color: #252525;
    color: #f4f4f3;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 0.8rem;
}

/* Grid table */
.container2 {
    width: 600px;
}

.row {
    /* border: 1px solid black; */
    flex-wrap: wrap;
}

.col-1 {
    border: 1px solid black;
    height: 2.5rem;
    background-color: #dde5b6;
    color: #000000;
    border-radius: 10px;
}



